{
    "ignorePatterns": "**/generated/*.ts",
    "overrides": [
        {
            "files": [
                "*.ts"
            ],
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaVersion": "latest",
                "sourceType": "module",
                "ecmaFeatures": {},
                "project": [
                    "./tsconfig.json"
                ]
            }
        },
        {
            "files": [
                "*.graphql"
            ],
            "extends": [
                "plugin:@graphql-eslint/schema-all"
            ],
            "parserOptions": {
                "operations": "./src/**/*.graphql",
                "schema": "./src/domain/core.graphql"
            },
            "rules": {
                "@graphql-eslint/no-unreachable-types": "off"
            }
        }
    ]
}